.main {
  background-color: white;
}

.dash-board-container {
  display: flex;
  flex-direction: column;
  height: 89vh;
  overflow-y: auto;
  opacity: 0;
}

.content-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
}

.dashboard-f-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

.status-container i {
  padding: 0;
  font-size: 30px;
}

.status-container center {
  padding-top: 20px;
}

.status-container h4 {
  margin-top: 20px;
}

.status-container h5 {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}

.vdr-container {
  background-color: rgb(51, 204, 0);
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.vdr-container a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.vdr-container1 {
  background-color: rgb(51, 204, 0);
}
.vdr-container2 {
  background-color: rgb(255, 204, 0);
}
.vdr-container3 {
  background-color: rgb(51, 102, 255);
}

.f-row-f-content-container {
  border: 2px solid rgb(51, 204, 0);
}
.f-row-f-content-container i {
  color: rgb(51, 204, 0);
}

.f-row-s-content-container {
  border: 2px solid rgb(255, 204, 0);
}
.f-row-s-content-container i {
  color: rgb(255, 204, 0);
}

.f-row-t-content-container {
  border: 2px solid rgb(51, 102, 255);
}
.f-row-t-content-container i {
  color: rgb(51, 102, 255);
}

/*  */

.dashboard-s-row {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.dashboard-s-row .content-container {
  border: 1px solid black;
  width: 500px !important;
}

.s-row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.s-row-top h5 {
  font-size: 15px;
  margin: 0;
}

.s-row-top a {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.s-row-bottom {
  display: flex;
  justify-content: space-between;
}

.s-row-bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.s-row-bottom div h4 {
  font-size: 17px;
}

.s-row-bottom div p {
  font-size: 13px;
}
/*  */

.chartContainer {
  margin-top: 10px;
  height: 300px;
}

/* Tablet-Mobile */
/* @media (max-width: 700px) {
  .dashboard-f-row {
  }

  .content-container {
  }
} */
