.main-container {
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 3px;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.input-email-container {
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
}

.input-email-container label {
  position: absolute;
  top: 0;
  font-size: 12px;
  background-color: white;
  padding: 0px 10px;
  margin-left: 10px;
  transform: translateY(-10px);
}

.btn-submit-email {
  width: 80px;
}

#email-checking {
  position: absolute;
  bottom: 65px;
  font-size: 12px;
}

/* frm verification code */

.verification-code-input {
  background-color: white;
  box-shadow: 1px 1px 5px black;
  margin-top: 20vh;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px;

  display: none;
}

.verification-code-input center {
  font-size: 15px;
  font-family: "poppins";
}

.verification-code-input input {
    text-align: center;
    letter-spacing: 30px;
    font-size: 20px;
}


/* change password frm */

.cp-input {
    font-family: poppins;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
    width: 350px;
    height: 300px;
    margin: auto;
    margin-top: 20vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    display: none;
}

#input-new-password-title {
    font-size: 12px;
}

.pw-notmatch {
    position: absolute;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;

    opacity: 0;
}

#save-new-pw {
    width: 150px;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red */
    color: white;

    height: auto;
    width: 250px;

    z-index: 1;
    opacity: 0;

    transition: opacity 0.6s;
    pointer-events: none;
    text-align: center;
  }