.main-container {
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 3px;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.input-email-container {
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
}

.input-email-container label {
  position: absolute;
  top: 0;
  font-size: 12px;
  background-color: white;
  padding: 0px 10px;
  margin-left: 10px;
  transform: translateY(-10px);
}


.btn-submit-email {
    width: 80px;
}

#email-checking {
    position: absolute;
    bottom: 65px;
    font-size: 12px;
}