body {
  font-family: "poppins", sans-serif;
}

.table-container {
  background-color: white;
  height: 88vh;
  overflow-y: auto;
}

.table-container table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-container table thead {
  position: sticky;
  top: 0;
  background-color: white;
}

.table-container table thead tr th {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
}

.table-container table tbody tr td {
  font-size: 12px;
}

.year-text {
  font-size: 20px;
}

.input-container {
  position: relative;
}

.input-container select {
  padding-top: 15px;
  font-size: 13px;
  width: 150px;
}

.input-container label {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 10px;
}

#printReport {
  position: absolute;
  right: 10px;
  bottom: 10px;
}