.main {
    position: relative;
}

.cat-center {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.category-container {
    margin-top: 20px;
    background-color: white;
    height: 79vh;
    overflow: auto;

    display: flex;
}

.category-container table {
    background-color: white;
    margin: 10px;
    width: 400px !important;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.253);
    flex-direction: column;
}

.category-container table a {
    color: black;
    font-size: 15px;
}

.cat_name input{
    color: blue;
    font-size: 15px;
    font-weight: 600;
}

td {
    font-size: 13px;
}

.add-subcat input {
    font-size: 13px;
    height: 40px;
}

.add-subcat button i {
    padding: 0;
    width: 25px;
}

.add-new-cat-form {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    border-radius: 5px;
    width: 290px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.add-new-cat-form #txt-add-cat {
    width: 200px !important;
    height: 40px;
    margin-right: 5px;
}   

.add-new-cat-form #btn-add-cat {
    height: 40px;
}

.no-cat-found {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-cat-found h5 {
    font-size: 30px;
    color: red;
}

/* The alert message box */
.alert {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    color: white !important;

    height: 50px;
    width: 330px;
    font-size: 12px;

    z-index: 100000;

    opacity: 0;
    transition: opacity 0.6s;
  }

  .alert-sub-cat {
    width: 350px !important;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }