.main {
  background-color: white;
}

.cat-center {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.select-main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-new-barangay-form {
    display: flex;
    width: 300px;
} .add-new-barangay-form #btn-add-region {
    margin-left: 10px;
}

.select-main-container .select-container {
  position: relative;
}

.select-main-container .select-innner-container {
    display: flex;
}

.select-container {
    margin-left: 5px;
}

.select-main-container .select-container select {
  min-width: 150px;
}

.select-main-container .select-container label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 12px;
  background-color: white;
  padding: 0px 10px;
  transform: translateY(-10px);
}

.address-table-container {
  height: 73vh;
  overflow: auto;
  margin-top: 10px;
}

.address-table thead {
  position: sticky;
  top: 0;
  background-color: white;
}

.address-table thead tr th {
    font-size: 12px;
    font-weight: 600;
}

.address-table tbody tr td {
  font-size: 12px;
}

/* The alert message box */
.alert {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  color: white !important;

  height: 50px;
  width: 330px;
  font-size: 12px;

  z-index: 100000;

  opacity: 0;
  transition: opacity 0.6s;
}
