.main {
  background-color: white;
}

.main i {
  padding: 0 !important;
}

.cat-center {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.select-main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.add-new-barangay-form {
  display: flex;
  width: 300px;
}
.add-new-barangay-form #btn-add-region {
  margin-left: 10px;
}

.select-main-container .select-container {
  position: relative;
}

.select-main-container .select-innner-container {
  display: flex;
  flex-wrap: wrap;
}

.select-container {
  margin-left: 5px;
}

.select-main-container .select-container select {
  min-width: 150px;
}

.select-main-container .select-container label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 12px;
  background-color: white;
  padding: 0px 10px;
  transform: translateY(-10px);
}

.address-table-container {
  height: 73vh;
  overflow: auto;
  margin-top: 10px;
}

.address-table thead {
  position: sticky;
  top: 0;
  background-color: white;
}

.address-table thead tr th {
  font-size: 12px;
  font-weight: 600;
}

.address-table tbody tr td {
  font-size: 12px;
}

.bgys-btn a {
  font-size: 12px;
}

/*  */
.edit-bgy-container {
  background-color: white;
  box-shadow: 1px 1px 5px black;
  position: absolute;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 20px;
  border-radius: 3px;

  display: none;
}

#close-edit-bgy-container {
  position: absolute; 
  top: 7px;
  right: 13px;
  color: black;
}

#edit-bgy-title {
  font-size: 15px;
}

.edit-bgy-container .input-container {
  position: relative;
}

.edit-bgy-container .input-container input {
  text-align: center;
}

.edit-bgy-container input {
  width: 170px;
}

.edit-bgy-container .input-container label {
  position: absolute;
  left: 10px;
  top: 0;
  transform: translateY(-8px);
  background-color: white;
  padding: 0px 10px;
  font-size: 12px;
}

/* The alert message box */
.alert {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  color: white !important;

  width: auto;
  font-size: 12px;

  z-index: 100000;

  opacity: 0;
  transition: opacity 0.6s;
  text-align: center;
}


@media (max-width: 1020px) {
  .select-container {
    margin-top: 10px;
  }
}

@media (max-width: 1020px) {
  .select-main-container {
    justify-content: center;
  }
}