body {
    font-family: 'poppins', sans-serif !important;
}

.top-contents-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 180px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(233, 233, 233);
}

.top-contents-container select {
    width: 200px;
    height: 40px;
}

.transaction-id {
    width: 200px !important;
    height: 40px;
}

.order-input-container {
    position: relative;
}

.order-input-container label {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 10px;
    background-color: white;
    padding: 0px 10px;

    transform: translateY(-10px);
}

.status-container {
    width: 600px;
}

.status-container .progress {
    position: relative;
}

.progress-circle {
    position: relative;
    width: 600px !important;
    height: 10px;
    transform: translateY(-14px);
}

.progress-circle .circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.progress-circle .circle span {
    position: absolute;
    transform: translateY(-30px) !important;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    transition: all 0.2s;
    opacity: 0;
}

.progress-circle .circle:hover span {
    opacity: 1;
}


.progress-photo-container {
    position: relative;
    height: 40px;
    width: 600px;
}

.progress-photo-container i {
    position: absolute;
    top: 50%;
    font-size: 25px;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#waiting {
    transform: translateX(-10px);
}

#accepted {
    left: 21%;
    transform: translateX(3px);
}

#for-delivery {
    left: 46%;
}

#shipped {
    left: 71%;
}

#delivered {
    left: 96%;
}