body {
    font-family: 'poppins', sans-serif !important;
}

.pos-container {
    display: flex;
    justify-content: space-between;
    height: 91vh;
}

.pos-orders-container {
    width: 55%;
    position: relative;

    overflow-y: auto;
}

.pos-select-item-container {
    width: 45%;
    position: relative;
    border-left: 1px solid rgb(192, 192, 192);
}

.pos-select-item-container form {
    padding: 10px;
}

.pos-select-item-container form input {
    height: 40px;
    width: 100%;
    padding: 5px;
}

.product-select {
    display: flex;
    margin: 5px;
    padding: 0 !important;
}

.product-select button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    background-color: white;

    border: 1px solid white;
    border-radius: 5px;
}

.product-select button:hover {background-color: rgb(228, 228, 228);}

.search-results {
    height: 82vh;
    overflow-y: auto;
}

.table {
    max-height: 75vh;
}

.input {
    position: relative;
    margin-top: 20px;
}

.input input {
    height: 40px;
    width: 100px;
}

.cust_id, .cust_type {
    width: 130px !important;
    font-size: 13px !important;
}

.input label{
    position: absolute;
    left: 5px;
    padding: 0px 10px;
    background-color: white;
    transform: translateY(-10px);
    font-size: 11px;
}

.computation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.356);
    background-color: white;
}

.computation div {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.save, .save_print {
    border: none;
    width: 130px;
    font-size: 13px;
    height: 40px;
    transform: translateY(20px);
    font-size: 12px !important;
} 

td .order-details-inputs {
    width: 100px !important;
}

table thead th{
    font-weight: 600 !important;
}

.discount-check {
    position: absolute !important;
    margin-left: 60px;
    transform: translateY(-23px);
}

.discount-check input {
    height: 20px;
    width: 40px !important;
    z-index: 3;
}

.outline-primary {
    outline-color: #007bff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}


.outline-danger {
    outline-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.685) !important;
}

.only-print {
    display: none;
}

@media print { 
    @page {
      size: 3in auto !important; /* Set the width to 3 inches */
    }

    nav {
        display: none !important;
    }

    .pos-select-item-container {
        display: none !important;
    }

    .pos-orders-container {
        width: 100%;
    }

    .remove-when-print {
        display: none;
    }
    
    .only-print {
        display: block;
    }

    #computation-container-receipt {
        border-top: 1px solid rgba(0, 0, 0, 0.123);
    }

    #computation-container-receipt div{
        display: flex;
        width: 100%;
        padding-left: 10px;
        justify-content: left;
    }

    #computation-container-receipt div p{
        width: 30px !important;
        background-color: red;
        margin-right: 40%;
    } 

    #receipt-subtotal {
        margin-top: 20px !important;
    }

    .no-border {
        border: none !important;
        background-color: none !important;
    }

    
  }
  
  