body {
    font-family: 'poppins', sans-serif !important;
}

.pos-container {
    display: flex;
    justify-content: space-between;
    height: 91vh;
}

.pos-orders-container {
    width: 55%;
    position: relative;

    overflow-y: auto;
}

.pos-select-item-container {
    width: 45%;
    position: relative;
    border-left: 1px solid rgb(192, 192, 192);
}

.pos-select-item-container form {
    padding: 10px;
}

.pos-select-item-container form input {
    height: 40px;
    width: 100%;
    padding: 5px;
}

.product-select {
    display: flex;
    margin: 5px;
    padding: 0 !important;
}

.product-select button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    background-color: white;

    border: 1px solid white;
    border-radius: 5px;
}

.product-select button:hover {background-color: rgb(228, 228, 228);}

.search-results {
    height: 82vh;
    overflow-y: auto;
}

.table {
    max-height: 75vh;
}

.input {
    position: relative;
    margin-top: 20px;
}

.input input {
    height: 40px;
    width: 150px;
}

.input label{
    position: absolute;
    left: 10px;
    padding: 0px 10px;
    background-color: white;
    transform: translateY(-10px);
    font-size: 13px;
}

.computation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.356);
    background-color: white;
}

.computation div {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.save, .save_print {
    border: none;
    width: 120px;
    font-size: 13px;
    height: 40px;
    transform: translateY(20px);
}

.save {
    background-color: rgb(0, 170, 0);
    color: white;
}

.save_print {
    background-color: rgb(241, 157, 0);
    color: white;
}

td .order-details-inputs {
    width: 100px !important;
}

table thead th{
    font-weight: 600 !important;
}

.discount-check {
    position: absolute !important;
    margin-left: 60px;
    transform: translateY(-23px);
}

.discount-check input {
    height: 20px;
    width: 40px !important;
    z-index: 3;
}