body {
  font-family: "poppins", sans-serif;
}

.year-month-container {
  display: flex;
  justify-content: right;
  width: 100% !important;
}

.select-date {
  font-size: 20px;
}

.input {
  position: relative;
  margin-right: 10px;
}

.input label {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 10px;
}

.input select {
  padding-top: 15px;
  font-size: 13px;
  width: 150px !important;
}

.table-container {
  background-color: white;
  height: 88vh;
  overflow-y: auto;
}

.table-container table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-container table thead {
  position: sticky;
  top: 0;
  background-color: white;
}

.table-container table thead tr th {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
}

.table-container table tbody tr td {
  font-size: 12px;
}

/* .input center {
  position: absolute;
  right: 20px;
  transform: translateY(-32px);
  width: 100px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  border-bottom: none;
} */

/* .input select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.562);
}

.input select::selection {
  outline: 5px solid blue;
} */

#printReport {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


