* {
    font-family: 'poppins', sans-serif;
}

body {
    overflow-y: auto;
    padding-bottom: 50px;
}

table {
    width: 80% !important;
    margin: auto;
    margin-top: 50px;
}

th {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    transform: translateY(5px);
}

label {
    position: absolute;
    font-size: 10px;
    top: 0;
    font-weight: 700;
    transform: translateY(-3px);
}

.sales-details-tr th, .return-products-tr th{
    transform: translateY(0px) !important;
    text-align: center !important;
}

.sales-details-tr th {
    border: none !important;
}

.return-products-tr th{
    font-size: 15px;
}

.pl {
    padding-left: 30px !important;
}

.pl-b {
    padding-left: 100px !important;
}

.btn-add-return-td {
    text-align: center;
}

.btn-add-return-td a {
    width: 150px;
}

input {
    text-align: center;
    width: 150px !important;
    height: 50px;
    margin: auto;
}

.return-details-center-tr th{
    border: none;
}

.qty-container-div {
    position: relative;
    width: 150px;
    margin: auto;
}

.alert {
    position: absolute;
    left: 0px;
    font-weight: 500;
    width: 100px;
    font-size: 10px;
    top: -15;
    opacity: 0;

    pointer-events: none;
}

.alert-when-reach-maxlevel {
    width: 150px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.alert-when-invalid-qty {
    left: -20px;
    width: 200px;
    padding: 0px !important;
    background-color: rgb(255, 255, 255);
}

.return-items-tr th {
    transform: translateY(0);
    text-align: center;
}

.return-details-header-tr th {
    transform: translateY(8px);
}

/*  */

.search-container {
    padding: 10px;
}

.search-container input{
    width: 100% !important;
    height: 40px;
}

.search-response-container {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.pos-search-th {
    border: 1px solid black;
}

.search-response-container form {
    margin: 5px;
}

.search-response-container form button{
    width: 100% !important;
    height: 40px;
    border: none;
    font-size: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.return-replace-item-container {
    width: 100% !important;
    margin-top: 0 !important;
    max-height: 280px;
    overflow-y: scroll;

    position: absolute;
    top: 0;
}

.return-replace-item-container tr th {
    padding-left: 5px;
    padding-bottom: 10px;
    border: none !important;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}

.return-replace-item-container thead tr th {
    text-align: center;
}

.return-replace-item-container tbody tr td, .return-replace-item-container tbody tr td input {
    font-size: 12px;
}

.return-replace-item-container tbody tr td input {
    height: 40px;
    width: 70px !important;
}

.return-replace-item-th {
    padding: 0 !important;
}


.computation {
    position: absolute;
    bottom: 10px;
    width: 100%;

    background-color: white;
    padding: 10px 0px;
    border-top: 1px solid black;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.bot {
    display: flex;
    justify-content: space-around;
}

.input {
    position: relative;
}

.input label {
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: 500;
    padding: 0px 5px;
    background-color: white;
    transform: translateY(-7px);
}

.computation input, .computation select{
    width: 120px !important;
    height: 40px !important;
}

.payment-required {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 8px;
    background-color: white;
    transform: translateY(5px);
} 