* {
    font-family: 'poppins', sans-serif;
}

body {
    overflow-y: auto;
}

table {
    width: 80% !important;
    margin: auto;
    margin-top: 50px;
}

th {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);

    transform: translateY(5px);
}

label {
    position: absolute;
    font-size: 10px;
    top: 0;
    font-weight: 700;
    transform: translateY(-3px);
}

.sales-details-tr th, .return-products-tr th{
    transform: translateY(0px) !important;
    text-align: center !important;
}

.sales-details-tr th {
    border: none !important;
}

.return-products-tr th{
    font-size: 15px;
}

.pl {
    padding-left: 30px !important;
}

.pl-b {
    padding-left: 100px !important;
}

.btn-add-return-td {
    text-align: center;
}

.btn-add-return-td a {
    width: 150px;
}

input {
    text-align: center;
    width: 150px !important;
    height: 50px;
    margin: auto;
}

.return-details-center-tr th{
    border: none;
}

.qty-container-div {
    position: relative;
    width: 150px;
    margin: auto;
}

.alert {
    position: absolute;
    left: 0px;
    font-weight: 500;
    width: 100px;
    font-size: 10px;
    top: -15;
    opacity: 0;

    pointer-events: none;
}

.alert-when-reach-maxlevel {
    width: 150px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.alert-when-invalid-qty {
    left: -20px;
    width: 200px;
    padding: 0px !important;
    background-color: rgb(255, 255, 255);
}

.return-items-tr th {
    transform: translateY(0);
    text-align: center;
}

.return-details-header-tr th {
    transform: translateY(8px);
}

.voucher-label {
    transform: translateY(1px);
}

/*  */

.search-container {
    padding: 10px;
}

.search-container input{
    width: 100% !important;
    height: 40px;
}

.search-response-container {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.search-response-container form button{
    width: 100% !important;
}