i {
    padding: 0;
}

.table-container {
    height: 91vh;
    overflow-y: auto;
}

table thead {
    position: sticky;
    top: 0;
    background-color: white;
}

table thead tr th {
    font-size: 13px;
    font-weight: 600;
}

table tbody tr td {
    font-size: 12px;
    font-weight: 500;
}

.action-td a {
    font-size: 12px;
    padding: 2px 6px;
}

.action-td a i {
    padding: 0 !important;
}

.search-select-container {
    display: flex;
    justify-content: space-between;
}

.search-select-container select {
    width: 50%;
}

.return-search {
    position: relative;
    display: flex;
    width: 350px;
}

.return-search button i {
    padding: 0;
}

.return-search input {
    width: 100%;
}

.return-search button {
    position: absolute;
    width: 70px;
    right: 0;
}